/*Colour Palette:
Normal Red: #E80000 
Dark Normal Red: #D00000 
Yellow: #EFD600
Pseudo Black: #333333
*/
html {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;

}
body {
	margin: 0 auto;

}
header {
	background: #E80000;
 	margin: auto;
 	padding: 1rem;

}/*The p's*/
p{
	margin: auto;
}
.firstp {
	position: relative;
}
.classlessp {
	position: relative;
	margin: 0.5em auto;
	padding: 9px;
}
.dragon p, .goat p, .rooster p, .ox p{
	font-style: italic;
	text-align: center;
	margin: auto;

}/*The h's*/
h1{
	text-align:center;
	margin: auto;
	text-shadow: 0 2px 3px rgba(0,0,0,256);
	position: absolute;
}
.title1 {
	font-style: bold;
	font-size:50px;
	top: -6.5rem;
	position: relative;
}
.title2{
	font-style: normal;
	font-size: 1em;
	top: -6.5rem;
	position: relative;
}
h2{
	color: white;
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
	margin: auto;
	font-style: italic;
	font-size: 30px;
	text-shadow: 0 2px 3px rgba(0,0,0,256);
}
.h2sheng{
	position: absolute;
	margin: 0;

}
h3 {
	margin: auto;
	text-align: center;
	position: relative;
	font-size: 2.5em;

}/*Navigations*/
nav a{
	display: inline-block;
	background-color: #333333;
	text-decoration: none;
	color: white;
	border: 0.1rem solid black;
	padding: 1rem;
	width: 100%;
}
nav{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
nav li{
	display: inline;
	width: 50%;
	float: left;
}
nav ol{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;

}/*Images*/
img {
	width: 100%;
}
.chinart{
	position: relative;
	margin: auto;

}/*Symbols to the Left*/
.dragon-symbol{
	width:50%;
	float:left;
}
.goat-symbol{
	width:50%;
	float:left;
}
.rooster-symbol{
	width:50%;
	float:left;
}
.ox-symbol{
	width:50%;
	float:left;

}/*Pics to the right*/
.dragonimg{
	width:50%;
	float:right;
}
.goatimg{
	width:50%;
	float:right;
}
.roosterimg{
	width:50%;
	float:right;
}
.oximg{
	width:50%;
	float:right;

}/*header*/
.divheader{
	text-align: center;
	color: white;
	position: relative;
	height: 100px;
}
.title{
	position:absolute;
	bottom:1.5em;
	width:100%;
	text-shadow:0 2px 3px rgba(0,0,0,256);
}
.anotehrtitle{
	top:5rem;
}
.medallion{
	width: 100px

}/*Big box around them images*/
.dragon{
	background-color:#EFD600;
	margin:auto;
	padding:1.5rem;
}
.goat{
	color:white;
	background-color:#333333;
	margin:auto;
	padding:1.5rem;
}
.rooster{
	color:white;
	background-color:#D00000;
	margin:auto;
	padding:1.5rem;
}
.ox{
	background-color:#EFD600;
	margin:auto;
	padding:1.5rem;


}/*Footer*/
/*}
.images{
	padding:1rem;
}*/

footer{
	text-align:center;
	color:white;
	background-color:#333333;
	margin:auto;
	padding:1.5rem;
}
footer a{
	color: white;
}